menuconfig MESHPOSITION
	bool "Mesh Positioning Remote call library"
	default n
	depends on SIMPLEMESH
	depends on DW1000
	depends on CPLUSPLUS
	help
	  Enable MESHPOSITION functionality.

if MESHPOSITION

	config MP_GPIO_DEBUG
		bool "uwb and ranging gpio debug"
		default n
		help
		Enable gpio debug for uwb and ranging debug

	if MP_GPIO_DEBUG
		config MP_PIN_APP
			int "gpio debug for uwb app"
			default 23
			help
			The default used pin is the DWM1001-Dev kit [nRF] P0.23 => M_PIN16 => J7 pin 7
	endif # MP_GPIO_DEBUG
endif # MESHPOSITION
